<!-- should have code to make a new post somewhere -->
<div class="text-center my-3">
    <button class="btn btn-primary"><b>+ New Post</b></button>

    <!-- should display all posts user has made -->

</div>
