<!-- for each individual post -->

<div>
    {{data.post}}

    {{data.comments}}
</div>

<!--

{
  post: {
    id: 3,
    title: 'Friendly reminder in React',
    content: 'due to using states, your state will not properly update through doing something like state = newState and you will not get the refresh you think you should get',
    date_created: 2022-10-10T17:13:16.000Z,
    user_id: 1,
    user: { username: 'sallysmith' }
  },
  comments: [
    {
      id: 2,
      content: "I'm learning React for work! I'll keep this mind!",
      date_created: 2022-10-10T17:13:16.000Z,
      user_id: 2,
      post_id: 3,
      user: [Object]
    },
    {
      id: 3,
      content: 'React is a godsend',
      date_created: 2022-10-10T17:13:16.000Z,
      user_id: 3,
      post_id: 3,
      user: [Object]
    }
  ]
}

    -->