/* UNIVERSAL SELECTORS */

*{
    font-family: Verdana, sans-serif;
}

:root{
    --blue: #2E8BC0;
    --dark-blue: #0C2D48;
    --midnight-blue: #145DA0;
    --baby-blue: #B1D4E0;
}

/* ELEMENT SELECTORS */

body{
    background-color: var(--baby-blue);
}

h1{
    text-shadow: 3px 3px 3px var(--midnight-blue);
    font-family: 'Silkscreen', Verdana, sans-serif;
    font-size: 400%;
}

/* CLASS SELECTORS */

.navbar{
    background-color: var(--blue);
}

.main-background{
    background-color: var(--dark-blue);
}

.nav-item{
    margin: 0 15px;
    padding: 0 10px;
    color:white;
    font-weight: bold;
}

.btn-primary{
    background-color: var(--blue)!important;
    border: 1px solid white;
}

.nav-item:hover, .btn-primary:hover{
    background-color: var(--midnight-blue)!important;
    color: white!important;
    box-shadow: 2px 2px  var(--dark-blue)!important;
    border-color: black!important;
}

.post-title{
    background-color: var(--dark-blue);
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.post-content{
    margin: 5px;
    padding: 5px;
}

.post-link{
    color: var(--baby-blue);
    font-size: 90%;
}

.date-posted{
    color: white;
}

.form-col{
    text-align: center;
}

.switch{
    color: grey;
    font-style: italic;
}

span:hover{
    color: var(--midnight-blue);
    cursor:pointer;
}

/* ID SELECTORS */

#logout-link{
    cursor: pointer;
}

#signup-display{
    display: none;
}
