*{
    font-family: Verdana, sans-serif;
}

:root{
    --pewter: #ECE3F0;
    --lilac: #D3BBDD;
    --ivory: #EFE7D3;
    --rosewater: #F8C0C8;
}

body{
    background-color: var(--pewter);
}

h1{
    text-shadow: 2px 2px 2px var(--rosewater);
    font-family: 'Silkscreen', cursive;
    font-size: 400%;
}

.navbar{
    background-color: var(--rosewater);
}

.main-background{
    background-color: var(--lilac);
}

.nav-item{
    /* font-size: 0.8rem; */
    margin: 0 15px;
    /* background-color: var(--rosewater); */
    padding: 0 10px;
    color:white;
    font-weight: bold;
}

.nav-item:hover{
    background-color: var(--ivory);
    color: rgb(174, 174, 174);
    box-shadow: 2px 2px  var(--lilac);
    cursor: pointer;
}
